@model Commentaire

<form asp-controller="Commentaire" asp-action="Create">
	<input asp-for="ArticleId" type="hidden" />

	<label>Auteur :</label>
	<input asp-for="Auteur" type="text" placeholder="@Model.Auteur" />
	<span asp-validation-for="Auteur"></span>
	<label>Contenu :</label>
	<input asp-for="Contenu" type="text" placeholder="@Model.Contenu" />


	<button>Ajouter .Net</button>

</form>